.header_div
  .privat
    .privat_t Your Private Collaborative Marketplace
    .privat_b Discover.Collaborate.Operate.Socialize.
  .bottom_div
    .bottom_l
      #div Graphic / Messaging 
      #div New Feature - "Now Mobile!"
    .bottom_r
      .div_center
        .div_1 Sing Up - it's free!
        .div_2
          %input{:onclick => "location.href='#'", :type => "button", :value => "Sing UP with a Linkedln accaunt"}/
        .div_3
          Don't have a Linkedln Account? Sing UP
          = link_to 'here', 'https://www.linkedin.com'
          !
      .div_center
        .div_1 Sing Up - it's free!
        .div_2
          %input{:onclick => "location.href='/auth/facebook/'", :type => "button", :value => "Sing UP with a Facebook accaunt"}/
        .div_3
          Don't have a Facebook Account? Sing UP
          = link_to 'here', 'https://www.facebook.com'
          !
  .div_footer
    2014 Beanstock Media, Inc rights reserved

  