body {
  background-color: #EEEEEE;
}

@media (max-width: 1280px) {
  .my_btn { margin: 8px 0px 8px 19px; }
  .hed{
    .input_s { width: 138px; }
  }
}

@media (min-width: 1281px) {
.my_btn { margin: 8px 81px 8px 19px; }
  .hed{
    .input_s { width: 179px; }
  }
}

.hed_m {
  height: 50px;
  background-color: #F1F1F1;
}

.hed {
  max-width: 1406px;
  height: 50px;
  margin: 0 auto;

  img {
    margin: 6px 6px;
    float: left;
  }

  .menu_link {
    float: left;
    color: gray;
    font-family: initial;
    font-size: 14.5px;
  }

  .my_input { 
    margin: 12px 21px 0 0;
    padding: 0;
  }

  .input {
    height: 27px;
    font-size: 11px;
  }
}

.hed_left {
  float: left;
}

.hed_right {
  float: right;
}

.nav_user {
  float: right;
  margin: 10px 25px;

  a { color: #96949C; }
}

.menu {
  padding: 16px 17px;
  margin-left: 11px;
  float: left;
  
  span {
    float: left;
    margin-right: 5px;
    font-size: 12px;
    top: 3px;
  }
  
  a {
    float: left;
    color: black;
    margin-right: 20px;
  }
}

.my_menu {
  border-left: 2px solid;
  border-right: 2px solid;
  border-color: gray;
  padding: 13px 0px;
  width: 303px;
  float: left;
  height: 40px;
  margin: 5px 0;

  a {
    float: left;
    color: black;
    text-align: center;
    margin: 0 auto;
  }

  .link {
    float: left;
    text-align: center;
    padding-left: 5px;

    &.m_alert { 
      width: 32.333333%; 
      padding-left: 20px;
    }
    
    &.messages { width: 34.333333%; }
    &.updates { width: 33.333333%; }
  }

  span {
    margin-right: 2px;
    top: 2px;
    float: left;
  }

  .com_link {
    border-radius: 3px;
    font-size: 11.5px;
    color: white;
    float: left;
    padding: 0 4px;

    &.red { background-color: #B94A48; }
    &.blue { background-color: #3A86AC; }
  }
}

.my_btn {
  .my_height {
    height: 28px;
    font-size: 13px;
    padding: 0 10px 
  }
}

@media only screen {
  .navig-slim {
    float: right;
    padding: 5px 20px;

    &.open {
      padding: 5px 60px;
    }

    span {
        float: left;
        margin-right: 18px;
        top: 7px;
    }

    .divid {
      height: 2px;
      margin: 0px auto;
      overflow: hidden;
      background-color: #435FB9;
      width: 90%;
    }

    .my_input { margin: 7px 5px 0 27px; }

    .input {
      height: 50px;
      width: 100%;
      font-size: 25px;
    }
  }


  .nav-button {
    display: block;
    width: 40px;
    height: 40px;
    background: url('menu-icon-large.png'), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('menu-icon-large.png'),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('menu-icon-large.png'),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background: url('menu-icon-large.png'),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px, 100%;
    cursor: pointer;
    border: 0 none;
    border-bottom: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
    border-radius: 5px;
    z-index: 999;
    text-indent: -9999px;

    &:hover { background-color: rgba(0,0,0,.1); }

    &.open {
      background: url('close-icon-large.png'), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
      background: url('close-icon-large.png'),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
      background: url('close-icon-large.png'),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
      background: url('close-icon-large.png'),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
      position: absolute;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  .primary-nav {
    float: none;
    background-color: #67B9CA; 
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
    display: block;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,.6);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 998;
    clear: both;
    
    li {
      display: none;
      width: 100%;
      font-family: Arial;
    
      a {
        display: block;
        width: 100%;
        padding: 9px 9%;
        font-size: 28px;
        font-weight: bold;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      
        &:hover {
          background-color: rgba(0,0,0,.5);
          border-top-color: transparent;
        }
      }
    }
  }

  .primary-nav > li:first-child { border-top: 1px solid rgba(0,0,0,.2); }

  .primary-nav.open {
    width: 100%;
    height: auto;
    padding-top: 50px;
  }

  .primary-nav.open li { 
    display: block; 
  }

  .primary-nav > li:hover > a {
    background: rgba(0,0,0,.5);
    border-bottom-color: transparent;
  }

  .primary-nav li.parent > a:after {
    content: "▼";
    color: rgba(255,255,255,.5);
    float: right;
  }

  .primary-nav li.parent > a:hover {
    background: rgba(0,0,0,.75);
  }

  .primary-nav li ul {
    display: none;
    background: rgba(0,0,0,.5);
    border-top: 0 none;
    padding: 0;
  }

  .primary-nav li ul a {
    border: 0 none;
    font-size: 21px;
    padding: 10px 10%;
    font-weight: normal;
  }

  .primary-nav li:hover ul {
    display: block;
    border-top: 0 none;
  }
}