// Place all the styles related to the suggested controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.glavn {
  width: 1406px;
  margin: 22px auto;
}

.my-btn {
  width: 100%;
  background-color: #ECECEC;
  color: #969696;
  border-color: #CDCDCD;
  text-align: left;
  padding: 6px 6px 7px 12px;
  font-size: 12px;

  .caret {
    float: right;
    top: 9px;
    position: relative;
  }
}

.area {
  background-color: white;
  border-radius: 5px;
  float: left;

  &.z-left {
    width: 16.715%;
    margin-left: 10px;
  }

  &.z-center {
    width: 56.5%;
    margin-right: 14px; 
    margin-left: 10px;
    background-color: #EEEEEE;
  }

  &.z-right {
    width: 24.36%;
    background-color: #EEEEEE;
  }
}

.nam { float: left}

.hed-name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 33px;
  background-color: #222222;
  color: white;

  .btn-group { width: 100%; }

  .btn {
    &.my-btn {
      width: 100%;
      background-color: transparent;
      border: none;
      color: white;
      text-align: left;
      padding-left: 15px;
      padding-right: 4px;
      font-size: 15px;
    }
  }

  span {
    float: left;
    top: 5px;
    font-size: 11px;
    margin-right: 11px;
  }

  .caret {
    float: right;
    top: 10px;
    position: relative;
  }
}

.area_sort {
  width: 100%;
  height: 70px;
  background-color: #F3F3F3;
  padding: 8px 10px;
  font-size: 12px;
  color: #969696;

  .btn-group { width: 100%; }

  .my-btn { margin-top: 3px; }
}

.small {
  width: 100%;
  height: 472px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.small-mail {
  width: 100%;
  height: 59px;
  background-color: #FFFFFF;
  padding: 4px 4px 4px 10px;
  border-bottom: 1px solid #F3F3F3;
  border-top: 1px solid #F3F3F3;

  &.plus_logo {
    .small-message {
      width: 65%;
    }

    .user-name { float: none; }

    .img_logo {
      width: 22%;
      height: 100%;
      float: left;
    }

    img {
      width: 38px;
      height: 38px;
      border: 1px solid #D1D1D1;
      padding: 2px;
      margin: 2px;
    }
  }

  &.bord-rad {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:hover {
    background-color: #F3F3F3;

    .close_del { color: #D3D3D3; }
  }

  .img_c {
    width: 10%;
    height: 100%;
    float: left;
    padding-top: 1px;
    font-size: 12px;
  }

  .user-name {
    font-size: 13px;
    float: left;
    color: #B94A48;
    margin-right: 2px;
    height: 17px; 
  }

  .small-message {
    width: 87%;
    height: 100%;
    float: left;
    padding-left: 2px;

    .user-mess {
      font-size: 12px;
      line-height: 149%;
      display: block;
      color: #989898;
    }

    .user-ago {
      font-size: 11px;
      color: #BCBCBC;
    }
  }

  .close_del {
    width: 3%;
    height: 100%;
    color: white;
    float: right;
    font-size: 12px;

    .btn-my {
      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 12px;
    }
  }
}

.my_nav-tabs {
  background-color: #EEEEEE;
  width: 99.5%;
  display: table;


  li {
    color: #555555;
    border-bottom-color: transparent;
    cursor: default;
    width: 136px;
  
    &.active {
      a{ background-color: #F9F9F9; }
    }

    a {
      margin-right: 7px;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      background-color: #F4F4F4;
      border: 1px solid #dddddd;
      color: #494949;
      height: 39px;
      font-size: 13px;
      padding: 10px;
      text-align: center;

      &:hover { background-color: #DFDBDB; }
    }
  }
}

.hed_mid {
  min-height: 80px;
  width: 100%;
  background-color: #F9F9F9;
  border-top-right-radius: 5px;
  border-left: 1px solid #C1C1C1;
  border-right: 1px solid #C1C1C1;
}

.hed_mid-l {
  float: left;
  height: 100%;
  width: 386px;
  margin-left: 16px;
}

.hed_mid-r {
  float: right;
  height: 100%;
  width: 250px;
  border-top-right-radius: 5px;

  .my_input {
    margin: 33px 5px 0 1px;
    padding: 0;
  }
}

.my_in {
  background-image: url("search.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 44px;
  background-color: #F7F7F7;
  width: 221px;
  font-size: 12px;
}

.sorti {
  width: 33.333333%;
  height: 100%;
  float: left;
  padding: 13px 14px 0 0;
  font-size: 12px;
  color: #969696;

  .btn-group { width: 89%; }
  .my-btn { margin-top: 3px; }
}

.border-lr {
  border: 1px solid #C1C1C1;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  &.small { height: 640px; }
  .small-mail { height: 71px; }
}

.avat_user {
  height: 100%;
  width: 82px;
  float: left;
  
  img {
    width: 45px;
    height: 45px;
    border: 1px solid #D1D1D1;
    padding: 2px;
    margin: 10px 9px;
  }
}

.mass_user {
  height: 100%;
  float: left;
  padding-top: 6px;

  .name_user {
    display: table;

    .user-nam {
      color: black;
      font-size: 13px;
      float: left;
      font-weight: 800;
    }

    .label_user {
      font-size: 12px;
      background-color: #E7E7E7;
      border-radius: 2px;
      margin: 2px 0 0px 21px;
      float: left;
      padding: 0px 4px;

      &.lbl-red { color: #C77877;}
      &.lbl-green { color: #42B061;}
      &.lbl-blue { color: #5093B4;}
    }
  }

  .user-status {
    width: 100%;
    font-size: 11px;
    padding-top: 3px;

    &.on-line { color: #7BC591; }
    &.a-way { color: #77ABC6; }
    &.b-usy { color: #B94A48; }
    &.off-line { color: #A5A5A5; }
  }

  .user-conn {
    width: 100%;
    margin-top: 4px;
    font-size: 11.5px;
    color: #A3A3A3;
  }

  .glyphicon {
    font-size: 9px;
    color: #A3A3A3;
    margin-right: 2px;
  }

  .mutual {
    color: #A3A3A3;
    text-decoration: underline;
  }
}

.butt_user {
  float: right;
  height: 100%;
  width: 208px;
  padding-top: 20px;

  .my-btn-grop { float: left; }

  .btn {
    font-size: 12px;
    box-shadow: 0 2px 4px #DBDAD9;
    padding: 4px 11px;

    &.btn-gray {
      background-image: -webkit-linear-gradient(bottom, #C5BEBD 0%, #EEEEEE 100%);
      background-image: -o-linear-gradient(bottom, #C5BEBD 0%, #EEEEEE 100%);
      background-image: -moz-linear-gradient(bottom, #C5BEBD 0%, #EEEEEE 100%);
      background-image: -ms-linear-gradient(bottom, #C5BEBD 0%, #EEEEEE 100%);
      background-image: linear-gradient(to bottom, #C5BEBD 0%, #EEEEEE 100%);
      background-color: #D8D4D4;
      color: #5F5F5F;
      border: 1px solid #888888;

      &:hover { background-image: none; }
    }
    
    &.btn-black {
      background-image: -o-linear-gradient(bottom, #828282 0%, #4E4E4E 100%);
      background-image: -moz-linear-gradient(bottom, #828282 0%, #4E4E4E 100%);
      background-image: -webkit-linear-gradient(bottom, #828282 0%, #4E4E4E 100%);
      background-image: -ms-linear-gradient(bottom, #828282 0%, #4E4E4E 100%);
      background-image: linear-gradient(to bottom, #828282 0%, #4E4E4E 100%);
      background-color: #5F5F5F;
      color: #F4F4F4;
      border: 1px solid #2F2F2F;
      margin-left: 8px;

      &:hover { background-image: none; }
    }
  }
}

.suges_users {
  height: 307px;
  width: 100%;
  background-color: gray;
  float: left;
}

.my-market-place {
  width: 100%;
  float: left;
  border-radius: 5px;
  border: 1px solid #D1D1D1;

  .my_input {
    margin: 6px 0px 0;
    padding: 3px 9px;
    width: 100%;
    background-color: #E3E3E3;
  }

  .form-group {
    width: 100%;
    margin-bottom: 0 }

  .my_in {
    width: 100%;
    height: 32px;
  }
}

.sort {
  width: 100%;
  float: left;
  height: 64px;

  .sorti {
    padding: 4px 0 0 7px;
    font-weight: bold;

    .btn-group { width: 98%; }
  }
}

.my_bold {
  font-weight: bold;
}

.mini-small {
  width: 100%;
  float: left;
  height: 468px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow-y: overlay;
  overflow-x: hidden;

  .small-mail {
    height: 78px;
    padding: 0px 4px 4px 3px;
  }

  .avat_user {
    width: 64px;
    padding-top: 5px;
  }

  .mass_user { padding-top: 8px; }
  .name_user { margin-left: 6px; }
  .user-status { margin-left: 6px; }
  .glyphicon { margin-right: 9px; }

  .others {
    color: #A3A3A3;
    text-decoration: underline;
  }
}

.ico-mail {
  height: 100%;
  width: 29px;
  float: right;
  font-size: 12px;
  padding-top: 29px;

  a { color: #A3A3A3; }

  &.ico-red {
    a { color: #B94A48; }
  }
}

.k-mail {
  color: #cababa;
  background-color: #626262;
  position: relative;
  top: -21px;
  left: 7px;
  font-size: 9px;
  margin: 0;
  padding: 0 3px;
  width: 12px;
  height: 10px;
  border-radius: 7px;

  span {
    margin-top: -2px;
    float: left;
  }
}